<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <ul>
        <li>asd</li>
        <li>asd2</li>
        <li>asd3</li>
      </ul>
    </div>
    <div class="carousel-item">
      <ul>
        <li>asd</li>
        <li>asd2</li>
        <li>asd3</li>
      </ul>
    </div>
    <div class="carousel-item">
      <ul>
        <li>asd</li>
        <li>asd2</li>
        <li>asd3</li>
      </ul>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true">

    </span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <i class="fas fa-chevron-circle-right" style="color:Tomato; font-size: 3em"></i>
  </a>
</div>