<div class="m-auto" style="max-width: 80vw;">
    <div class="card mt-5">
        <div class="card-header text-center">
            <h1> Privacy Policy</h1>
        </div>
        <div class="card-body">

            This Privacy Policy was last updated on January 4, 2021.
            <br> <br>

            Thank you for joining the world’s largest online learning marketplace. We at Udemy (“Udemy”, “we”, “us”)
            respect your privacy and want you to understand how we collect, use, and share data about you. This Privacy
            Policy covers our data collection practices and describes your rights to access, correct, or restrict our
            use of your personal data.
            <br> <br>

            Unless we link to a different policy or state otherwise, this Privacy Policy applies when you visit or use
            the Udemy website, mobile applications, APIs or related services (the “Services”).
            <br> <br>
            By using the Services, you agree to the terms of this Privacy Policy. You shouldn’t use the Services if you
            don’t agree with this Privacy Policy or any other agreement that governs your use of the Services.
            <br> <br>
        </div>
    </div>
</div>