{{#section 'css'}}
<link rel="stylesheet" href="../css/cssUser/log-in.css">
{{/section}}

<div id="id01">
    <form class="modal-content animate" action="" method="POST">
        <div class="container">
            {{#if notify}}
            <div class="alert alert-danger text-center"> {{notify.message}}</div>
            {{/if}}
            <h5>We had seen an OTP to your email {{profile.email}}</h5>
            <hr>
            <label for="code"><b>Enter OTP</b></label>
            <input class="accountInput" type="text" placeholder="Enter OTP" name="code" required>
            <button id="loginButton" type="submit">Verify</button>
        </div>
    </form>
</div>