{{#section 'js'}}
<script>
    tinymce.init({
        selector: '#fulldes'
    });
</script>
{{/section}}

{{>nav-left}}

<div class="container mt-5" id="main" style="margin-left: 150px; max-width: 80vw;">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">CREATE YOUR NEW COURSE</h1>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="card-body">

                <div class="form-group">
                    <label for="title">Enter Title</label>
                    <input class="form-control" type="text" name="title" id="titel" required>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="categoryid">Select Course Category</label>
                        <select class="form-control" name="categoryid" id="categoryid">
                            {{!-- <option value="1">HIHI</option>
                            <option value="1">HIHI</option>
                            <option value="1">HIHI</option>
                            <option value="1">HIHI</option> --}}
                            {{#each listCat}}
                            <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col">
                        <label for="bigthumbnaillink">Upload Course Thumbail Picture</label>
                        <br>
                        <input type="file" name="bigthumbnaillink" id="bigthumbnaillink" accept="image/*" required>
                    </div>
                </div>
                <div class="form-group pt-3">
                    <label for="tinydes">Enter Short Description</label>
                    <input class="form-control" type="text" name="tinydes" id="tinydes" required>
                </div>
                <div class="form-group">
                    <label for="fulldes">Enter Full Description</label>
                    <textarea class="form-control" name="fulldes" id="fulldes"></textarea>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="originalprice">Original Price</label>
                            <input class="form-control" type="number" name="originalprice" id="originalprice" required>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="promotionalprice">Promotional Price</label>
                            <input class="form-control" type="number" name="promotionalprice" id="promotionalprice"
                                required>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">UPLOAD YOUR COURSE</button>
            </div>
        </form>
    </div>
</div>