<div class="container" style="margin-top: 30px;">
    <h1>Profile & settings</h1>
    <hr>
    <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Account Profile</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Account Security</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Profile Picture</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">My Courses</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false"></a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="card-body">
                <div class="form-group">
                    <label for="txtCatID">#</label>
                    <input type="text" class="form-control" id="txtCatID" name="CatID" value="{{this.category.CatID}}"
                        readonly>
                </div>
                <div class="form-group">
                    <label for="txtCatName">Category</label>
                    <input type="text" class="form-control" id="txtCatName" name="CatName"
                        value="{{this.category.CatName}}" autofocus>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    </div>
</div>