{{#if err_message}}
<div class="container">
  <div class="alert alert-danger alert-dismissible fade show mb-2" role="alert">
    <strong>
      {{err_message}}
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{{/if}}

<div class="card">
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="bankid">Bank ID</label>
        <input type="number" class="form-control" id="bankid" name="bankid" required>
      </div>
      <div class="form-group">
        <label for="bankname">Bank Name</label>
        <input type="bankname" class="form-control" id="bankname" name="bankname" required>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
      <a class="btn btn-danger" href="/admin/lecturer-list" role="button">Cancel</a>
    </form>
  </div>
</div>